.home_container {
    min-height: 100vh;
    width: 100%;
}

.main {
    display: flex;
    justify-content: space-between;
}

.main>div {
    width: 45%;
}

.home_container button,
.historic_panel li {
    border: 1px solid rgb(235, 214, 207);
}


.home_container input {
    border: 1px solid #999;
}


.historic_panel li,
.historic_panel{
    padding: 10px;
}

.row {
    display: flex;
    padding: 1rem;
    align-items: center;
}
