:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
:root {
  --diff-background-color: initial;
  --diff-text-color: initial;
  --diff-font-family: Consolas, Courier, monospace;
  --diff-selection-background-color: #8ab3e2;
  --diff-gutter-insert-background-color: #57e467;
  --diff-gutter-delete-background-color: #d3606b;
  --diff-gutter-insert: #57e467;
  --diff-gutter-delete: #d3606b;
  --diff-gutter-selected-background-color: #fffce0;
  --diff-code-insert-background-color: #aacfb1;
  --diff-code-delete-background-color: #d1787e;
  --diff-code-insert-edit-background-color: #c0dc91;
  --diff-code-delete-edit-background-color: #f39ea2;
  --diff-code-selected-background-color: #fffce0;
  --diff-omit-gutter-line-color: #cb2a1d;
}

.diff{
  width: 100%;
  background-color: #213547;
  color: #f5e8c4;
  padding: 20px 40px;
  border-radius: 5px;
}

.diff-code-insert ,
.diff-code-delete ,
.diff-gutter-insert,
.diff-gutter-delete{
  font-family: var(--diff-font-family);
  font-weight: bold;
  font-style: italic;
}

.diff-code-insert ,
.diff-gutter-insert{
  color: var(--diff-gutter-insert)
}

.diff-code-delete ,
.diff-gutter-delete{
  color: var(--diff-gutter-delete)
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

input {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: rgb(85, 95, 138);
  color: #eee;
  cursor: pointer;
  transition: border-color 0.25s;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  margin: 3px;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

blockquote {
  background-color: #eeeeee;
  padding: 5px;
  border-left: 5px solid #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}